.search__input {
  width: 110%;
  min-height: 64px;
  margin-top: 64px;
  padding-left: 24px;
}

.search__input:focus {
  box-shadow: 0 0 15px rgba(7, 140, 234, 0.5);
}

@media(max-width: 768px) {
  .search__input {
    width: 104%;
    min-height: 56px;
    margin-top: 24px;
  }
}
