@import url(./_white/header__logo_white.css);
@import url(./_black/header__logo_black.css);

.header__logo {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  margin-left: 20px;
}
