.github__link {
  display: flex;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  text-decoration: none;
}

@media(max-width: 405px) {
  .github__link {
    display: block;
    position: absolute;
    bottom: 25px;
    left: calc(80% - 230px);
    background-color: #f5f6f7;
    color: #1a1b22;
    padding: 15px 40px;
    border: 1px solid #1a1b22;
    border-radius: 40px;
  }
}
@media(max-width: 320px) {
  .github__link {
    left: calc(80% - 208px);
  }
}
