.search__btn {
  width: 31%;
  min-height: 64px;
  background-color: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  color: #fff;
  border-radius: 100px;
  position: absolute;
  top: 112px;
  right: -62px;
}

.search__btn:hover {
  background-color: #347EFF;
}

.search__btn:active {
  background-color: #2A65CC;
}

@media (max-width: 1281px) {
  .search__btn {
    top: 136px;
    right: -49px;
  }
}
@media (max-width: 904px) {
  .search__btn {
    top: 160px;
    right: -36px;
  }
}
@media (max-width: 768px) {
  .search__btn {
    width: 37%;
    min-height: 56px;
    top: 96px;
    right: -19px;
  }
}
