.chart__value-item {
  width: 1111px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 55px;
  letter-spacing: 0.4px;
}

.chart__value-item:last-child {
  margin-bottom: 0;
}
