.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}

@media(max-width: 768px) {
  .footer__copyright {
    font-size: 12px;
  }
}
@media(max-width: 650px) {
  .footer__copyright {
    grid-area: copy;
  }
}
