.nav__path {
  display: flex;
  padding: 0;
  margin-bottom: 80px;
}

@media(max-width: 768px) {
  .nav__path {
    margin-bottom: 64px;
  }
}
@media(max-width: 320px) {
  .nav__path {
    display: none;
  }
}
