.nav__list_footer {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 14px;
  text-align: center;
}

@media (max-width: 799px) {
  .nav__list_footer {
    grid-column-gap: 0px;
  }
}
@media(max-width: 768px) {
  .nav__list_footer {
    text-align: start;
  }
}
@media(max-width: 425px) {
  .nav__list_footer {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
@media(max-width: 320px) {
  .nav__list_footer {
    grid-gap: 10px;
  }
}
