.carousel-cell {
  width: 27%;
  min-height: 288px;
  margin-right: 10px;
  background: #fff;
  border-radius: 16px;
  counter-increment: carousel-cell;
}

@media(max-width: 1030px) {
  .carousel-cell {
    width: 50%;
  }
}
@media(max-width: 320px) {
  .carousel-cell {
    width: 89%;
  }
}
