@import url(./__header/github__header.css);
@import url(./__link/github__link.css);
@import url(./__title/github__title.css);

.github {
  padding: 74px 0 124px;
  background-color: #f5f6f7;
}

@media(max-width: 768px) {
  .github {
    padding: 40px 0 95px;
  }
}

@media(max-width: 320px) {
  .github {
    position: relative;
    padding: 40px 0 130px;
    margin-bottom: 20px;
  }
}
