@import url(./__title/search__title.css);
@import url(./__text/search__text.css);
@import url(./__form/search__form.css);
@import url(./__btn/search__btn.css);
@import url(./__container/search__container.css);

.search {
  background-image: url(../../images/bgHeader.png);
  background-size: cover;
  min-height: 496px;
}
