@import url(./__copyright/footer__copyright.css);

.footer {
  display: grid;
  grid-template-columns: 1fr 3fr .1fr;
  grid-column-gap: 38px;
  max-width: 86vw;
  margin: 0 auto 26px;
  min-height: 69px;
  align-items: flex-end;
}

@media(max-width: 865px) {
  .footer {
    grid-column-gap: 10px;
  }
}
@media(max-width: 799px) {
  .footer {
    grid-column-gap: 0;
  }
}
@media(max-width: 768px) {
  .footer {
    max-width: 90vw;
    min-height: 60px;
  }
}
