@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  justify-content: space-around;
  max-width: 86vw;
  margin: 0 auto 26px;
  min-height: 69px;
  align-items: flex-end;
}
