.github__header {
  max-width: 83vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 65px;
}

@media(max-width: 768px) {
  .github__header {
    margin-bottom: 40px;
  }
}
