@import url(./__bg/card__bg.css);
@import url(./__date/card__date.css);
@import url(./__info/card__info.css);
@import url(./__source/card__source.css);
@import url(./__text/card__text.css);
@import url(./__title/card__title.css);

.card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 5px 15px rgba(8, 29, 45, 0.1);
}
