.chart__value {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #fff;
  background-color: #2f71e5;
  padding-left: 10px;
}

/* .chart__value:last-child {
  margin-bottom: 0;
} */
