.nav__list_header {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 17px;
}

@media(max-width: 660px) {
  .nav__list_header {
    grid-template-columns: 1fr 2fr;
  }
}
@media(max-width: 320px) {
  .nav__list_header {
    grid-column-gap: 11px;
  }
}
